@model AZERS.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2 class="description"><i class="glyphicon glyphicon-cog"></i> Promjena lozinke</h2>

@using (Html.BeginForm("ChangePassword", "Profil", FormMethod.Post, new { @class = "form-horizontal height", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group padding_top">
        @Html.Label(expression:"CurrentPassword",labelText:"Stara lozinka:", htmlAttributes: new { @class = "col-md-3 lbl" })
        <div class="col-md-9">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control textbox_podaci" })

        </div>
    </div>
    <div class="form-group">
        @Html.Label(expression:"NewPassword",labelText:"Nova lozinka:",  htmlAttributes: new { @class = "col-md-3 lbl" })
        <div class="col-md-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control textbox_podaci" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label(expression:"ConfirmNewPassword",labelText:"Potvrda lozinke:", htmlAttributes: new { @class = "col-md-3 lbl" })
        <div class="col-md-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control textbox_podaci" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" value="Promijeni lozinku" class="btn_o" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}