<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Evidencija radnih sati</title>
    @Styles.Render("~/fonts")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body class="body_s">

    @using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container_nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="glyphicon glyphicon-user">  @Html.ActionLink("Profil", "ShowPodaci", "Profil")</li>
                            <li class="glyphicon glyphicon-time">  @Html.ActionLink("Evidencija", "ShowPodaci", "Evidencija") </li>
                            <li class="glyphicon glyphicon-ok-sign">  @Html.ActionLink("Potvrda satnica", "ShowPodaci", "PotvrdaSatnica")</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Odjava</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        }
    }
    else
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container_nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="glyphicon glyphicon-user">  @Html.ActionLink("Profil", "ShowPodaci", "Profil")</li>
                        <li class="glyphicon glyphicon-time">  @Html.ActionLink("Evidencija", "ShowPodaci", "Evidencija") </li>
                        <li class="glyphicon glyphicon-ok-sign">  @Html.ActionLink("Potvrda satnica", "ShowPodaci", "PotvrdaSatnica")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Registracija", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Prijava", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                </div>
            </div>
        </div>

    }

    <div class="container_content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
